@model Proyecto_ED22.Models.PacienteModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Recandelarización de cita</h1>

<h4>Paciente: @Html.DisplayFor(model => model.Nombre)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DPI" class="control-label"></label>
                <p>@Html.DisplayFor(model => model.DPI)</p>
                <span asp-validation-for="DPI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaUltimaConsulta" class="control-label"></label>
                <p>@Html.DisplayFor(model => model.FechaUltimaConsulta)</p>
                <span asp-validation-for="FechaUltimaConsulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaProximaConsulta" class="control-label"></label>
                <input asp-for="FechaProximaConsulta" class="form-control" />
                <span asp-validation-for="FechaProximaConsulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Actualizar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
    window.onload = function () {
        alert("@ViewBag.Message");
    };
    </script>
}

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
